<%- include('header.ejs') %>

<div class="ui container">
  <div class="text-center">
    <h2 style="color:rgb(24, 112, 228); font-family: 'Josefin Sans', sans-serif;">Category Form</h2>
  </div>

  <form class="ui form" action="<%- link %>" method="post" enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" id="name" name="name" value="<%- name %>" placeholder="Name" /><br /><br />
    <label>Priority</label>
    <select type="text" id="priority" name="priority" placeholder="Priority">
      <option value="Low">Low</option>
      <option value="High">High</option>
    </select>
    <br />
    <label>Upload an Image</label>
    <input type="file" id="photo" name="photo" accept="image/*" value="<%- photo %>" name="Category" multiple="multiple" /><br /><br />
    <input class="ui button primary" type="submit" value="<%- btn %>" />
  </form>
</div>