<%- include('header.ejs') %>

<div class="ui container text-center">

    <div style="margin-bottom:4vh">
        <h1>Orders</h1>
    </div>

    <form class="ui form" action="/api/order/search" method="post"  enctype="application/json">
        <label>Order Id</label>
        <input type="text" id="id" name="id" placeholder="Id" />
        <br/><br/>
        <input class="ui button primary" type="submit" value="Search" />
    </form>

    <br/>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Transaction Id</th>
                <th scope="col">Status</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0;i<orders.length;i++) { %>
                
                    <tr>
                            <th scope="row"><%- i+1 %></th>
                            <td>
                                <a href="/api/orders-<%- orders[i]._id %>" >
                                    <%- orders[i].transaction_id %>
                                </a>
                            </td>
                            <td><%- orders[i].status %></td>
                    </tr>
            <% } %>
        </tbody>
      </table>

</div>