<%- include('header.ejs') %>

<div class="ui container form">

    <div class="text-center">
        <h2>Product Form</h2>
    </div>

    <form class="ui form" action="<%- link %>" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%- name %>" /><br/><br/>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value="<%- description %>"/><br/><br/>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" value="<%- price %>" /><br/><br/>
        <label for="photo">Upload an Image</label>
        <input type="file" id="photo" name="photo"value="<%- photo %>" accept="image/*" /><br/><br/>
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" name="quantity" value="<%- quantity %>" /><br/><br/>
        <input class="ui button primary" type="submit" placeholder="click to submit"/>
    </form>
</div>