<%- include('header.ejs') %>

<div class="ui container text-center">

    <div style="margin-bottom:4vh">
        <h1>Products</h1>
    </div>

    <br/><br/>

    <div class="row text-center">
        <% for(var i=0;i<products.length;i++) { %>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <a href="/api/product-<%- products[i]._id %>">
                        <img class="card-img-top" src="/api/product/photo/<%- products[i]._id %>" style="height:25vh; width:20vw" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%- products[i].name %></h5>
                        <p class="card-text"><%- products[i].description %></p>
                        <p class="card-text">Price: ₹<%- products[i].price %></p>
                        <p class="card-text">Quantity: <%- products[i].quantity %></p>
                        <p class="card-text">Status: <%- products[i].status %></p>
                    </div>
        
                    <div class="card-body">
                        <a href="/api/productEdit-<%- products[i]._id %>" class="card-link">Edit</a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal<%- i %>" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
            <%- include('deleteModal.ejs',{link: `/api/product/admin/delete/${products[i]._id}`, Sno: i }) %>
            <br/>
        <% } %>

</div>
